.title{
    width: 592px;
    margin-bottom: 26px;
}
.title input{
    width: 547px;
    margin: 18px 0 19px 24px;
    font-size: 16px;
    padding: 5px;
    font-weight: 700;
    height: 28.5px;
}
hr{
    color: rgba(0, 0, 0, 0.16);
}
.content{
    width: 592px;
}
.content textarea{
    width: 533px;
    height: 231px;
    margin-top: 24px;
    margin-left: 23px;
    margin-bottom: 24px;
    padding: 10px;
    resize: none;
}
.editImg{
    width: 592px;
    padding-left: 24px;
    margin-bottom: 33px;
    margin-left: 24px;
}
.edit-btn{
    width: 355px;
    height: 33px;
    background: #F5C3C2;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    margin-bottom: 50px;
    transition: transform 0.1s; background-color: 0.1s;
}
.edit-btn:hover{
    background: #DA7F76;
}
.edit-btn:active{
    background-color: rgb(86, 49, 170);
    transform: scale(0.95);
}