.body-frame{
    text-align: center;
}
.edit-password{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 355px;
}
.edit-password input{
   width: 339px;
   height: 17px;
   border: 1px solid black;
   border-radius: 4px;
   font-size: 14px;
   font-weight: 400;
   padding: 7px;    
}
.input-text{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
}
hr{
    color: rgba(0, 0, 0, 0.16);
}
.edit-btn{
    width: 355px;
    height: 33px;
    border: 0;
    background-color: #F5C3C2;
    color: white;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 700;
}
.helper-text{
    font-size: 14px;
    font-weight: 400;
    color: red;
    margin-top: 4px;
    margin-bottom: 4px;
    display: none;
}
#password{
    margin-bottom: 25px;
}
#rePassword{
    margin-bottom: 40px;
}
button{
    transition: transform 0.1s, background-color 0.1s;
}
button:active{
    background-color: #D16160;
    transform: scale(0.95);
}