body{
    text-align: center; 
    height: 100vh; 
    margin: 0 auto; 
    overflow-x: hidden;
}


.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: -webkit-flex; /* 사파리 대응 */
    -webkit-justify-content: center;
    -webkit-align-items: center;
}
.form-group {
    align-content: space-between;
}
.form-group label {
    display: flex;
    margin-left: 4%;
    size: 15px;
    font-weight: 700;
    margin-bottom: 8px;
}
.form-group input {
    width: 355px;
    height: 33px;
    border-radius: 4px;
    padding-left: 12px;
    margin-bottom: 16px;
}

.helper-text {
    color: #ff0000;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px;
    display: none;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 6px;
}

.login-button {
    font-family: 'Ownglyph_ParkDaHyun';
    width: 383px;
    height: 37px;
    background-color: #F5C3C2;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.login-button:hover{
    background-color: #DA7F76;
}
button {
    transition:
        transform 0.1s,
        background-color 0.1s;
}
button:active {
    transform: scale(0.95);
}
