.header a{
    font-size: 24px;
    color: black;
    text-decoration: none;
    padding-right: 50px;
}
.login-container{
    width: 392px;
    height: 406px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 400px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.upload{
    background-color: rgb(203, 202, 202);
    width: 149px;
    height: 149px;
    align-content: center;
    border-radius: 50%;
}
.upload img{
    width: 50%;
    height: 50%;
    border-radius: 50%;
}
button{
    transition: transform 0.1s, background-color 0.1s;
}
button:active{
    background-color: #555;
    transform: scale(0.95);
}