{
    "singleQuote": true,
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 80,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.html", "*.css"],
            "options": {
                "requirePragma": true
            }
        }
    ]
}
